<div id="body-div">
     {{#if errorMessage}}
        <h2 id="error-profile">{{errorMessage}}</h2>
     {{/if}}

     {{#if successMessage}}
        <h2 id="success-profile">{{successMessage}}</h2>
     {{/if}}
     
     <div id="container-div">
        <div id="left-part-div">
            <div class="left-part-row-div">
                <img alt="" src="/images/profile-icon.png" style="width: 35px; margin-right: 0.3em;">
                <button class="left-part-row-selected-button" type="button" onclick="onProfileMenuButtonClick()">PROFILUL MEU</button>
            </div>

            <div class="horizontal-line"></div>

            <div class="left-part-row-div">
                <img alt="" src="/images/settings-icon.png" style="width: 35px; margin-right: 0.3em;">
                <button class="left-part-row-button" type="button" onclick="onSettingsMenuButtonClick()">SETĂRI CONT</button>
            </div>

            <div class="horizontal-line"></div>

            <div class="left-part-row-div">
                <img alt="" src="/images/logout-icon.png" style="width: 30px; margin-right: 0.3em;">
                <button class="left-part-row-button" type="button" onclick="location.href = '/logout'">DECONECTARE</button>
            </div>
        </div>

        <div id="vertical-line"></div>

        <div id="right-part-div">
            <div id="profile-menu-div">
                <div class="profile-menu-row">
                    <img alt="" src="/images/profile-icon.png" style="width: 35px;">
                    <h2>{{userFullName}}</h2>
                </div>
                 
                <div class="profile-menu-row">
                    <img alt="" src="/images/url-icon.png" style="width: 35px;">
                    <h3><a href="{{userURL}}">{{userURL}}</a></h3>
                </div>

                <div class="profile-menu-horizontal-line"></div>

                <div id="profile-gamification-row">
                    {{#each listOfGamificationSystemModels}}
                        <div class="profile-gamification-card" onclick="location.href = '/profile/view-gamification-system?systemName={{this.name}}'">
                            <img alt="" src="/images/gamification-system-icon.png" style="width: 45px;">
                            <p>{{this.name}}</p>
                        </div>
                    {{/each}}
                </div>

                <div id="profile-gamification-new-row">
                    <button type="button" onclick="location.href = '/profile/create-gamification-system'">Creează un sistem nou</button>
                </div>
            </div>
                
            <div id="settings-menu-div">
                <div class="settings-menu-row">
                    <h2>Modifică adresa site-ului web</h2>

                    <form method="post" action="/profile/change-url">
                        {{#if previousURLValue}}
                            <input type="text" id="new_url" name="new_url" placeholder="Adresa site-ului web" value="{{previousURLValue}}">
                        {{else}}
                            <input type="text" id="new_url" name="new_url" placeholder="Adresa site-ului web" value="{{userURL}}">
                        {{/if}}
                        <input type="submit" id="submit_url" name="submit_url" value="Modifică">
                    </form>
                </div>

                <div class="profile-menu-horizontal-line"></div>

                <div class="settings-menu-row">
                    <h2>Modifică parola contului</h2>

                    <form method="post" action="/profile/change-password">
                        <input type="password" id="old_password" name="old_password" placeholder="Parola veche">
                        <input type="password" id="new_password" name="new_password" placeholder="Parola nouă">
                        <input type="submit" id="submit_pwd" name="submit_pwd" value="Modifică">
                    </form>
                </div>
            </div>
        </div>
     </div> 
 </div>