<div style="flex-grow: 1; margin-left: 5px; margin-right: 5px; padding: 20px">
    <div>
        <h2 style="margin: 20px 10px; font-size:30px;">{{title}}</h2>
        <h2 style="margin: 20px 10px;">Am gasit {{total}} anunturi.</h2>
        <div class="announces">
            {{#each items}}
                <a class="announce" href="/product/{{this.id}}">
                    <img src="{{this.image}}" alt="" style="max-width:200px;">
                    <div>
                        <div class="product-informations">
                            <p class="announce-title">{{this.name}}</p>
                            <p class="announce-price">{{this.price}} Lei</p>
                        </div>
                        <div class="announce-informations">
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</div>