<div style="flex-grow: 1; margin-left: 5px; margin-right: 5px; padding: 20px">
    {{#if errorMessage}}
        <h3 style="color: red; margin:0 auto;">{{errorMessage}}</h3>
    {{/if}}
    <div class="announce">
        <div class="announce-header">
            <div style="display: flex; flex-wrap: wrap; margin: 0 5px;">
                <div style="display: flex; flex-direction: column; margin-top: 15px;">
                    <div class="slideshow-container">
                        {{#each images}}
                            <div class="slide">
                                <img class="slide-img" alt="" src="{{this}}" style="height: 350px; width: auto;">
                            </div>
                        {{/each}}
                    </div>

                    <div style="display: flex; flex-wrap: wrap;">
                        <button class="slideshow-prev-btn" onclick="showPreviousSlide()">&lt;</button>

                        <div style="text-align: center; margin: 5px 0 10px 0;">
                            {{#each images}}
                                <span class="slideshow-dot" onclick="showSelectedSlide({{@index}})"></span>
                            {{/each}}
                        </div>

                        <button class="slideshow-next-btn" onclick="showNextSlide()">&gt;</button>
                    </div>
                </div>
            </div>

            <div class="announce-seller-details">
                <div class="announce-details">
                    <p style="font-size: 24px; font-weight: bold; margin-left: 10px; margin-top: 10px;">{{product.name}}</p>
                    <div style="display:inline-flex; flex-wrap: wrap; align-items: center;">
                        <p style="font-size: 18px; font-weight: bold; margin-left: 10px;">{{product.price}} lei</p>
                    </div>
                    <button type="button" id="buyItemBtn" onclick="">Cumpără</button>
                </div>
            </div>
        </div>

        <div class="announce-body">
            <p>{{product.description}}</p>
        </div>

        <div id="comments-div">
            {{#if comments}}
                {{#each comments}}
                    <div class="comment-card">
                        <div class="comment-person-div">
    <!--                        TODO: Nume dupa userId-->
                            <h3>Popescu Ion</h3>
                            <p>{{this.date}}</p>
                        </div>
                        <p>{{this.comment}}</p>
                    </div>
                {{/each}}
            {{else}}
                <h3 style="margin-left: auto; margin-right: auto; font-weight: normal;">Nu există niciun comentariu pentru acest produs. Fii primul care adaugă unul!</h3>
            {{/if}}

            <form method="POST" action="/product/{{product.id}}/add-comment" id="form-comment">
                <h3>Adaugă un comentariu</h3>
                <textarea form="form-comment" name="comment" id="comment" placeholder="Comentariu..."></textarea>

                <button type="submit" name="comment-submit-btn" id="comment-submit-btn">Adaugă</button>
            </form>

        </div>
    </div>
</div>
