<div class="container">
    <div class="header">
        <div class="imagine_profil" style="background-image: url('/assets/images/blank.png')"></div>
        <div class="informatii_profil">
            <div class="username">{{userModel.name}}</div>
        </div>
    </div>

    <h2>Realizări</h2>
    <div class="profile_achievements">
        {{#each rewards}}
            <div class="profile_achievement">
                Nume: <span>{{this.reward_name}}</span> <br/> <br />
                Tip: <span>{{this.reward_type}}</span> <br/> <br />
                Valoare: <span>{{this.reward_value}}</span> <br/> <br/>
                Progres: <span>{{this.progress}}</span>
            </div>
        {{/each}}
    </div>

    <h2>Comenzile tale</h2>
    <div class="announces">
        {{#each orders}}
        <a class="announce" onclick="location.href = '/product/{{this.productId}}'" style="cursor: pointer;">
         <img
                    src="{{this.image}}"
                    alt=""
                    style="max-width: 200px"
            />
            <div>
                <div class="product-informations" style="justify-content: space-between;">
                    <p class="announce-title">{{this.product.name}}</p>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                        <p class="announce-price" style="margin-bottom: 10px;">Preț: {{this.product.price}} lei</p>
                        <p class="announce-price" style="margin-top: 10px;">Total: {{this.total}} lei</p>
                    </div>
                </div>
                <div class="announce-informations">
                    <p>Data achiziției: {{this.dateAcquired}}</p>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>