<HTML>
<head>
    <title>Admin Panel</title>
    <link rel="shortcut icon" href="#">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/styles/admin-gamification-systems.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL - Gamification Systems</a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View All </a>
            <a href="/admin/gamification-systems/add" class="btn"> Add  </a>
            <a href="/admin/gamification-systems/export" class="btn"> Export </a>

            <form method="POST" action="/admin/gamification-systems/import" style="display:none;" enctype="multipart/form-data">
                <input type="file" id="imported-CSV-file" name="imported-CSV-file" accept=".csv">
                <button type="submit" id="import-CSV-submit"></button>
            </form>
            <a class="btn" onclick="importBtn()" style="cursor: pointer;"> Import </a>
            <a href="/admin/home" class="btn">BACK</a>
        </div>

        <div class="content">
            <div class="gamification-system-table">
                <table>
                    <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>ApiKey</th>
                        <th>Actions</th>
                    </tr>
                    {{#each systems}}
                        <tr>
                            <td>{{this.userId}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.APIKey}}</td>
                            <td>
                                <button onclick="deleteSystem('{{this.APIKey}}')">Delete</button>
                                <button onclick="updateSystem('{{this.APIKey}}')">Update</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../js/admin/gamificationSystems.js"></script>
</body>

</HTML>