<HTML>
<head>
    <title>Admin Panel</title>
    <link rel="shortcut icon" href="#">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/styles/admin-gamification-events.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL - Gamification Events</a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View All </a>
            <a href="/admin/gamification-events/add" class="btn"> Add </a>
            <a href="/admin/gamification-events/export" class="btn"> Export </a>

            <form method="POST" action="/admin/gamification-events/import" style="display:none;" enctype="multipart/form-data">
                <input type="file" id="imported-CSV-file" name="imported-CSV-file" accept=".csv">
                <button type="submit" id="import-CSV-submit"></button>
            </form>
            <a class="btn" onclick="importBtn()" style="cursor: pointer;"> Import </a>
            <a href="/admin/home" class="btn">BACK</a>
        </div>

        <div class="content">
            <div class="gamification-events-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>SystemAPIKey</th>
                        <th>Name</th>
                        <th>eventType</th>
                        <th>Action</th>
                    </tr>
                    {{#each events}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.systemAPIKey}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.eventType}}</td>
                            <td>
                                <button onclick="deleteEvent('{{this.id}}')">Delete</button>
                                <button onclick="updateEvent('{{this.id}}')">Update</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../js/admin/gamificationEvents.js"></script>
</body>

</HTML>