<HTML>
<head>
    <title>Admin Pannel</title>
    <link rel="stylesheet" href="../styles/admin-gamification-contact.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL - Contact Messages</a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View All </a>
            <a href="/admin/contact/add" class="btn"> Add </a>
            <a href="/admin/contact/export" class="btn"> Export </a>

            <form method="POST" action="/admin/contact/import" style="display:none;" enctype="multipart/form-data">
                <input type="file" id="imported-CSV-file" name="imported-CSV-file" accept=".csv">
                <button type="submit" id="import-CSV-submit"></button>
            </form>
            <a class="btn" onclick="importBtn()" style="cursor: pointer;"> Import </a>
            <a href="/admin/home" class="btn">BACK</a>
        </div>

        <div class="content">
            <div class="gamification-contact-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Sender Name</th>
                        <th>Sender Email</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                    {{#each contacts}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.sender_name}}</td>
                            <td>{{this.sender_email}}</td>
                            <td>{{this.message}}</td>
                            <td>
                                <button onclick="deleteContact('{{this.id}}')">Delete</button>
                                <button onclick="updateContact('{{this.id}}')">Update</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/gamificationContact.js"></script>
</body>

</HTML>