<!DOCTYPE html>
<HTML>
<head>
    <title>Admin Panel</title>
    <link rel="shortcut icon" href="#">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/styles/admin-tokens.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL </a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View all </a>
            <a href="/admin/tokens/export" class="btn"> Export </a>
            <a href="/admin/home" class="btn">BACK</a>
        </div>

        <div class="content">
            <div class="tokens-table">
                <table>
                    <tr>
                        <th>Token</th>
                        <th>userID</th>
                        <th>userFirstName</th>
                        <th>userLastName</th>
                        <th>expiresAt</th>
                        <th>Actions</th>
                    </tr>
                    {{#each tokens}}
                        <tr>
                            <td>{{this.token}}</td>
                            <td>{{this.userId}}</td>
                            <td>{{this.userFirstName}}</td>
                            <td>{{this.userLastName}}</td>
                            <td>{{this.expiresAt}}</td>
                            <td>
                                <button onclick="deleteToken('{{this.token}}')">Delete</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/tokens.js"></script>
</body>

</HTML>