<HTML>
<head>
    <title>Admin Pannel</title>
    <link rel="stylesheet" href="../styles/admin-users.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL </a>
<!--        <a href="" class="back"> BACK </a>-->
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View users </a>
            <a href="/admin/users/add" class="btn"> Add user </a>
            <a href="" class="btn"> Export </a>
            <a href="" class="btn"> Import </a>
        </div>

        <div class="content">
            <div class="users-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.firstname}}</td>
                            <td>{{this.lastname}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.url}}</td>
                            <td>
                                <button onclick="deleteUser({{this.id}})">Delete</button>
                                <button onclick="location.href = '/admin/users/update?id={{this.id}}'">Update</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/users.js"></script>
</body>

</HTML>