<HTML>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../styles/admin-users.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL </a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="btn"> View users </a>
            <a href="/admin/users/add" class="btn"> Add user </a>
            <a href="/admin/users/export" class="btn"> Export </a>

            <form method="POST" action="/admin/users/import" style="display:none;" enctype="multipart/form-data">
                <input type="file" id="imported-CSV-file" name="imported-CSV-file" accept=".csv">
                <button type="submit" id="import-CSV-submit"></button>
            </form>
            <a class="btn" onclick="importBtn()" style="cursor: pointer;"> Import </a>
            <a href="/admin/home" class="btn">BACK</a>
        </div>

        <div class="content">
            <div class="users-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.firstname}}</td>
                            <td>{{this.lastname}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.url}}</td>
                            <td>
                                <button onclick="deleteUser({{this.id}})">Delete</button>
                                <button onclick="location.href = '/admin/users/update?id={{this.id}}'">Update</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/users.js"></script>
</body>

</HTML>